

.main{
    flex-grow: 1;
    padding: 40px;
    overflow-y: auto;
}

/* https://www.w3schools.com/howto/howto_css_searchbar.asp */
/* Search bar */

.searchbar {
    justify-content: flex-start;
    display: flex;
}

.searchbar input[type=text] {
    flex-grow:1;
    float: right;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 6px 6px 6px 6px;
    font-size: 17px;
    width: 1000px;
    margin-right: 2px;
}

/* Search button */
.search-button {
    width: 45px;
    height: 40px;
    flex-shrink: 0;
    justify-content: center;
    margin-top: 0px;
    padding-top: 5px;

    color: #ffffff;
    background: #D3D3D3;
    border: none;
    outline: none;
    cursor: pointer;
}

.search-button:hover{
    background: #818589;
}

.search-container {
    display: flex;
}

.filters-button {
    min-width: 30px;
}